{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %}Login | {{ block.super }}{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="page-header" style="background-image: url('{% static 'img/login-image.jpg' %}');">
            <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="title">Welcome</h3>
                            <form class="register-form" method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <input class="btn btn-danger btn-block btn-round" type="submit" value="Login"
                                       class="btn btn-default">
                            </form>
                            <div class="forgot">
                                <a href="{% url 'password_reset' %}" class="btn btn-link btn-danger">Forgot
                                    password?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <h6>&copy;
                        <script>document.write(new Date().getFullYear())</script>
                        | made with <i class="fa fa-heart heart"></i> by Team Akountant
                    </h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}