{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %}Email Sent | {{ block.super }}{% endblock %}

{% block content %}
    <div class="main">
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Password reset link sent.</h2>
                        <h5 class="description">We have mailed you the instructions to reset your password at the email
                            address you specified. Please follow the instructions to reset your password. Do not
                            disclose your password to anybody.</h5>
                        <br>
                        <a href="{% url 'home' %}" class="btn btn-danger btn-round">Go Back</a>
                    </div>
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
{% endblock %}