{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %}Password Reset Complete | {{ block.super }}{% endblock %}

{% block content %}
    <div class="main">
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Password reset complete</h2>
                        <h5 class="description">Congratulations. Your password has been reset.<br>Please click below to continue.</h5>
                        <br>
                        <a href="{% url 'login' %}" class="btn btn-danger btn-round">Login</a>
                    </div>
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
{% endblock %}